<!doctype html>
<html>
<head> <!--всё, что не отображается на странице (видно то, что в body)-->
  <meta charset="utf-8" /> <!-- настройка кодировки текста, чтобы не было кракозябр -->
  <link rel="stylesheet" href="css/style.bundle.css"> <!-- подключаем внешний файл со стилями-->
  <title>
  </title>
</head>
<body>
<header>
 <table>
   <tr>
     <td colspan="2">
       <table>
         <tr>
           <td class="logo">
               <img src="img/vkontakte.svg" class="main-logo"/>
           </td>
           <td class="main">MAIN MENU</td>
         </tr>
       </table>
     </td>
   </tr>
   <tr>
     <td class="form">
       <form>
         <label for="login">Email:</label>
          <input type="text" name="login" id="login">
         <label for="password">Пароль:</label>
          <input type="text" name="password" id="password">
         <input type="submit" value="Вход">
         <input type="submit" value="Регистрация">
        </form>
     </td>
     <td>
       <table class ="welcome">
         <tr>
           <td>Welcome</td>
           <td>Site</td>
           <td>Support</td>
         </tr>
       </table>
     </td>
   </tr>
 </table>
</header>
</body>