body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
  box-sizing: border-box;
  font-size: 11px;
  font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  font-weight: 400;
  line-height: 1.4em;
  min-height: 100vh;
}

table {
  padding: 0;
  border-spacing: 0;
}

td {
  vertical-align: top;
}

p{
  text-align: left;
  padding: 0;
  margin: 15px 0;
}

a {
  text-decoration: none;
  color: #2B587A;
  font-weight: bold;
}
