body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
  box-sizing: border-box;
  font-size: 16px;
  font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  font-weight: 400;
  line-height: 1.4em;
  min-height: 100vh;
}

.button {
  border: 1px solid #000000;
  background-color: #2e6190;
  border-radius: 4px;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  font-size: 14px;
}

table {
  padding: 0px;
  border-spacing: 0px;
  width: 630px;
}

td {
  vertical-align: top;
}