.footer {
  border: 1px solid #ffffff;
  text-align: center;
  margin: 8px 1px 3px 159px;
}

.footer__button {
  color: #2B587A;
  text-decoration: none;
  border: #ffffff;
}

.footer__text {
  text-align: center;
}