.header {
  background: linear-gradient(to bottom, #1e5799 0%,#207cca 83%,#2989d8 100%,#7db9e8 100%);
  border: solid 1px #1e5799;
  width: 790px;
  height: 41px;
}

.main-logo {
  width: 130px;
  height: 23px;
}
