.header {
  background: linear-gradient(to bottom, #1e5799 0%,#207cca 83%,#2989d8 100%,#7db9e8 100%);
  border: solid 1px #1e5799;
  border: 1px solid #ffffff;
  border-radius: 6px;
  border-collapse: collapse;
  width: 793px;
  height: 41px;
  padding: 10px 10px 10px 10px;
}

.main-logo {
  width: 180px;
  height: 50px;
}
