.main {
  margin-right: 18px;
  border: 1px solid #d9e1e8;
  box-shadow: 2px 2px 2px #eaf0f4;
  border-radius: 6px 6px 0 0;
  text-align: left;
  padding-left: 33px;
  padding-bottom: 19px;
}

.main__wrapper {
  padding: 0 10px;
}

.main__title {
  background-color: #f9f5bf;
  font-weight: bold;
  border: #f9f5bf;
  font-size: 11px;
  text-align: left;
  width: 630px;
  box-shadow: 1px 1px 1px #d6d19b;
  vertical-align: 10px;
  line-height: 24px;
  padding: 0 10px;
}

.main__text {
  font-weight: bold;
}

.main__button {
  background-color: #36638E;
  border-radius: 3px;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  margin: 7px -234px 4px 235px;
  padding: 4px 6px;
}