.nav__list {
  margin: 0;
}

.nav__item {
  display: inline-block;
  float: right;
}

.nav__link {
  display: inline-block;
  font-weight: bold;
  color: #ffffff;
  margin: 0;
  padding: 10px 15px;
}
