ul#nav__list li{
  display: inline-block;
  display: inline;
  float: right;
  padding: 1px 15px 10px 10px;
}

.nav__link {
  width: 50px;
  height: 50px;
}

.nav__item {
  font-weight: bold;
  color: #ffffff;
}
